*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 27, 27);
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 31, 29);
    height: fit-content;
    width: 700px;
    border-radius: 15px;
    padding: 30px;
    color: rgb(165, 222, 175);
}

.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
}

.quote{
    margin-top: 10px;
}

.author{
    width: 600px;
    margin-top: 20px;
    text-align: end;
}

.footer{
    width: 600px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 30px;
}
.btn{
    font-size: 30px;
    border-radius: 5px;
    margin-right: 225px;
    width: 200px;
    height: 50px;
    align-content: center;
}
.copy{
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(163, 255, 194);
    border: none;
    color: black;
    border-radius: 5px;
}

