*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 33, 33);
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 59, 55);
    height: fit-content;
    width: 700px;
    border-radius: 15px;
    padding: 30px;
}

.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(151, 224, 200);
    color: rgb(47, 63, 50);
}

h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
}

.quote{
    margin-top: 10px;
}

.author{
    width: 600px;
    margin-top: 20px;
    text-align: end;
}

.footer{
    width: 600px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 30px;
}
.btn{
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    align-content: center;
    background-color: rgb(151, 224, 200);
    color: rgb(47, 63, 50);
}
.copy{
    font-size: 25px;
    font-weight: 700;
    border: none;
    background-color: rgb(151, 224, 200);
    color: rgb(47, 63, 50);
    border-radius: 10px;
    padding: 5px;
}

