*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #080a21;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 20px;
    font-weight: 900;
}

.row{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.col{
    background-color: #2097f3;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.col h1{
    font-size: 120px;
    margin: 50px;
    font-weight: 600;
}

.col p{
    font-size: 40px;
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
    font-weight: 500;
}

.sec{
    background-color: deeppink;
}

.pm{
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 257px;
    text-align: center;
    border-radius: 7px;
    line-height: 60px;
    background-color: teal;
}